{% extends "base.html" %}
{% block title %}프로젝트용 도서관{% endblock %}
{% block content %}
    <h2>책 검색</h2>
    <form action="{{ url_for('search') }}"
          method="POST"
          class="search-form">
        <input type="text"
               name="query"
               placeholder="소장자료를 검색합니다."
               required>
        <input type="submit"
               value="검색">
    </form>

    <!-- Error Message Display -->
    {% if error %}
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <!-- 추천 도서 리스트 -->
    <div class="recommended-books">
        <h3 style="text-align: center; margin-top: 20px;">추천 도서</h3>
        <ul>
            {% for book in recommended_books %}
                <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <!-- 책 정보 -->
                    <div>
                        <strong>{{ book['title'] }}</strong><br>
                        {{ book['author'] }}
                    </div>

                    <!-- 대출 버튼 -->
                    <div>
                        {% if user_id %}
                            {% if book['available_rent'] | int == 1 %}
                                <!-- 로그인 상태 + 대출 가능 -->
                            {% else %}
                                <!-- 로그인 상태 + 대출 불가능 -->
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
